<!-- Content Row -->
<div class="row margin-bottom">

  <!-- Sport and skills Column -->
  <div id="show-sport-skill">
    <%= render 'activities/show_sport_skill'%>
  </div>

  <!-- Availability Column -->
  <div id="show-availability" class="col-md-3 availability">
    <%= render 'availabilities/show_availability'%>
  </div>

</div><!-- /.row -->
