
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

  <%= render 'navigation'%>
  <%= render 'personal_form'%>
  <%= render 'profile_content'%>
  <%= render 'edit_modals'%>

    <!-- Footer -->
    <footer>
      <div class="container text-center copyright">
        <p>Copyright &copy; Team UP 2015</p>
      </div>
    </footer>

    <!-- Plugin JavaScript -->
    <script src="js/jquery.easing.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="js/grayscale.js"></script>

  </body>
