
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

  <%= render 'navigation'%>

  <!-- Search Results Section -->
  <section id="search" class="container search-section">
    <div class="row">

      <!-- Search Results Column -->
      <div class="col-lg-9">
        <h4>Here is what we found for you:</h4>

        <!-- Renders collection of individual user results -->
        <% if @user %>
          <%= render "search_result" %>
        <% else %>
          <p class="no-result"> Aww man! No one found. </p>
        <% end %>

      </div>

      <!-- Criteria Column -->
      <div class="col-lg-2 search-criteria">
        <h4>Criteria</h4>

      </div>

    </div>
    <!-- /.row -->
  </section>

  <!-- Footer -->
  <footer>
    <div class="container text-center copyright">
      <p>Copyright &copy; Team UP 2015</p>
      <div>Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a>, <a href="http://www.flaticon.com/authors/yannick" title="Yannick">Yannick</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a>             is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a></div>

    </div>
  </footer>

  <!-- Plugin JavaScript -->
  <script src="js/jquery.easing.min.js"></script>

  <!-- Custom Theme JavaScript -->
  <script src="js/grayscale.js"></script>

</body>
