
// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.header {
    display: table;
    width: 100%;
    height: 50%;
    padding: 100px 0;
    color: #fff;
    background: image-url("chalkboard.png") no-repeat center center scroll;
    background-color: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

@media(min-width:768px) {
    .header {
        height: 50%;
        padding: 0;
    }
}

.profile-info {
  display: inline-block;
  margin-top: -55px;
  padding-right: 20px;
}

.profile-info a {
  margin-bottom: 10px;
}

.profile-user {
  list-style: none;
  padding-top: 20px;
  padding-left: 0;
}

.profile-user h3 {
  margin-bottom: 0;
}

.profile-user h4 {
  margin-bottom: 10px;
}

.profile-user p {
  margin-bottom: 10px;
}

.img-thumbnail {
  width: 175px;
  height: 175px;
  max-width: none;
}

.img-profile {
  width: 250px;
  height: 250px;
  margin-top: -170px;
  box-shadow: 1px 3px 10px #555;
}

.availability {
  border-left: solid 1px #d3d3d3;
  padding-left: 50px;
}

.search-section {
  border: 1px solid #d3d3d3;
  margin-top: 130px;
  padding: 50px 0px 50px 50px;
  text-align: left;
}

.search-criteria {
  border-left: 1px solid #eee;
  padding-left: 20px;

  h6 {
    margin-top: 20px;
    margin-bottom: 10px;
  }
}

.search-result-list {
  border: 1px solid #fff;
  background-color: rgba(0,0,0,.1);
  padding: 15px 0;
  margin-top: 15px;
  margin-right: 15px;
}

.no-result {
  padding: 100px 0;
  text-align: center;
}

.search-list-link {
  color: inherit;
}

.edit-profile-personal {
  background-color: rgba(49, 48, 49, 7);
  padding: 20px 0;
  margin: 35px 0 50px 0;
  color: #fff;
}

.search-title {
  padding-top: 20px;
  margin-bottom: 20px;
}

.location {
  font-size: 16px;
  padding-left: 10px;
}

.sports-list {
  margin-bottom: 20px;
}

.edit-skill {
  padding-right: 50px;
}

.availability-list {
  margin-bottom: 5px;
  font-size: 14px;
}
